@use 'sections' as *;
@use 'variables' as *;
@use 'sectionContainer';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        color: $titleColor;
    }

    #section-one{
        @include section-style($textColorOne);
    }
    #section-two{
        @include section-style($textColorTwo);
    }
    #section-three{
        @include section-style($textColorThree);
    }
    #section-four{
        @include section-style($textColorFour);
    }
}
