$backgroundColor: rgb(143, 115, 115);
$mainTitleColor: black;
$titleColor: white;
$textColorOne: rgb(175, 85, 220);
$textColorTwo: rgb(75, 195, 75);
$textColorThree: rgb(10, 49, 84);
$textColorFour: yellow;
$borderRadius: 10px;
